@{
    ViewData["Title"] = "Adminitration";
}
<h1> Administration </h1>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Announcements</h5>
    <h6 class="card-subtitle mb-2 text-muted">Reaching Users</h6>
    <p class="card-text">Create Announcements that all users can see.</p>
    <input type="button" value="Announcements" onclick="@("window.location.href='" + @Url.Action("Index", "Announcements") + "'");" />
    
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Ticket Responses</h5>
    <h6 class="card-subtitle mb-2 text-muted">Maintaining Housing</h6>
    <p class="card-text">Respond to user's maintenence tickets.</p>
  
    <input type="button" value="Ticket Responses" onclick="@("window.location.href='" + @Url.Action("Index", "TicketResponses") + "'");" />
  </div>

</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Account Roles</h5>
      <h6 class="card-subtitle mb-2 text-muted">Maintaining Account Permissions</h6>
      <p class="card-text">Create roles, determine permissions for accounts.</p>

      <input type="button" value="Account Roles" onclick="@("window.location.href='" + @Url.Action("AllRoles", "Administration") + "'");" />
    </div>
</div>